.Page {
    font-size:2rem;
    max-width:800px;
    margin: 0 auto;
    padding:10px;
    display: grid;
    grid-template:
        "... ...... ..." 0px
        "... header ..."
        "... ...... ..." 0px
        "... center ..." 1fr
        "... ...... ..." 0px
        "... footer ..."
        "... ...... ..." 0px
        / 0px 1fr 0px;
}
.Page > header {
    grid-area: header;
}
.Page > main {
    grid-area: center;
}
.Page > footer {
    grid-area: footer;
    text-align: center;
}

@media screen and (max-width: 1000px){
    .Page {
        min-width:400px;
        grid-template:
            "header"
            "center" 1fr
            "footer";
    }
}